<% i18n_scope = "conocimiento" %>
<h1><%= t('titulo_resultado_buscar_tag', scope: i18n_scope) %>: "<%= @tag.name %>"</h1>

<%= render 'tags/search' %>

<div class="container-fluid">
  <%= render 'shared/knowledge_grid' %>
</div>

<%= link_to t('boton_regresar', scope: i18n_scope), knowledges_path, class: 'btn btn-warning' %>