<div class="row">
  <div class="col-md-6">
    <h2><%= t('.titulo_olvide_password') %> 
      <br/> 
      <small><%= t('.podemos_ayudar_a_recuperar') %></small>
    </h2>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field form-group">
        <%= f.label :email, t('.email') %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    
      <div class="actions form-group">
        <%= f.submit t('.envianme_instrucciones'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render "users/shared/links" %>
