<% i18n_scope = "conocimiento" %>

<%= form_for @knowledge, :html => {class: "form-horizontal" } do |f| %>
  <% if @knowledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@knowledge.errors.count, "error") %> prohibited this knowledge from being saved:</h2>

      <ul>
      <% @knowledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :description, t('descripcion', scope: i18n_scope) %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label t('tipo_conocimiento', scope: i18n_scope) %><br>
    <%= f.collection_select :knowledge_type_id, KnowledgeType.all, :id, :name, {include_blank: t('seleccione_tipo_conocimiento', scope: i18n_scope)}, {class: 'form-control'} %>
  </div>
  <div class="field form-group">
    <%= f.label :tag_list, t('lista_tags', scope: i18n_scope) %>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>
  <div class="actions form-group">
    <%= f.submit t('guardar', scope: i18n_scope), class: 'btn btn-primary' %>
  </div>
<% end %>
